body {
  font-family: Arial, sans-serif;
  font-size: 83%;
}

#container {
  margin-top: 10em;
  text-align: center;
}

.fine_print {
  font-size: 80%;
}

.max_width {
  /* Doesn't work in IE < 7. */
  max-width: 600px;
}
